// Font by Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');



@import "./reset.css";
@import "./source-style.scss";

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
.title {
    @extend .title--large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.content-form {
    max-width: 60vw;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 80%;
        #fields {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            input {
                width: 49%;
                margin-right: 1%;
                display: block;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        input#cep {
            text-align: center;
            font-size: 4em;
        }
        button {
            width: 200px;
            margin: 0 auto;
            display: block;
        }
    }
}